.benner {
    background: url("https://e0.pxfuel.com/wallpapers/497/915/desktop-wallpaper-korean-women-8513-korean-women-cartoon-cartoon-korean-abstract.jpg")
     no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: black;
}
